:root
{
	--sb-color: #191826;
}

/* Sidebar Styling  */

.sb
{
	background-color: var(--sb-color);
	height: 100%;
	width: 20%;
	position: fixed;
	display: flex;
	flex-direction: column;
}

.sb-collapsed
{
	background-color: var(--sb-color);
	height: 100%;
	width: 5%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Sections Styling  */

.sb-logo
{
	height: 15%;
	flex-direction: row;
}

.sb-user
{
	height: 20%;
}

.sb-nav
{
	height: 40%;
	flex-direction: column;
}

.sb-admin
{
	height: 20%;
}


/* Sub section */

.sb-signup
{
	display: none;
	flex-direction: column;
}

.sb-loggedin
{
	display: flex;
	flex-direction: row;
}

.sb-edit-cont
{

}

.sb-usr-adm
{

}

.sb-tm-adm
{

}

.sb-user-settings
{
	display: flex;
	flex-direction: column;
	width: 75%;
}

.sb-user-logo 
{
	display: flex;
	flex-direction: column;
	width: 25%;
	color: white;
}

.sb-pos-logo
{
	display: flex;
	width: auto;
}

.sb-burger
{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	cursor: pointer;
}

/* Additional Styling  */

.sb-prof-img
{
	width: auto;
	max-height: 50%;
}

.sb-logo img
{
	margin: auto;
	max-height: 100%;
	width: auto;
}

.sb-logo-change
{
	display: none;
}


.tooltip
{
	visibility: hidden;
  	width: 120px;
  	color: white;
  	font-style: italic;
	text-align: center;
  	border-radius: 6px;
	border-radius: 6px;
	background-color: #191826;
  	/* Position the tooltip */
  	position: absolute;
	z-index: 2;
 	opacity: 0;
  	transition: opacity 1s;
}

.sb-btn:hover .tooltip
{
	color: white;
	left: 100%;
	visibility: visible;
	opacity: 1;
}


.sb-profile-settings p
{
}

.sb-horizontal
{
	border-top: 2px white solid;
}

.sb-btn
{
	display: flex;
	flex-direction: row;
	background: transparent;
	height: 50px;
	border: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5vw;
	width: 100%;
	color: white;
	margin-top: 5px;
	justify-content: center;
}

.sb-icon
{
	margin-right: auto;
	max-height: 100%;
	width: auto;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


.sb-btn p
{
	margin: auto;
}



.sb-btn:hover .sb-icon,
.sb-btn:hover,
.sb-btn:hover p
{
	font-style: italic;
	color: grey;
	margin: inherit;
	align-items: center;
}

.sb-btn-active
{
	font-style: italic;
	background: rgb(25,24,38);
	background: linear-gradient(90deg, rgba(25,24,38,1) 0%, rgba(70,70,83,1) 77%, rgba(74,74,64,1) 100%);	
	outline: none;
}

.bar1, .bar2, .bar3 
{
	width: 35px;
  	height: 5px;
  	background-color: white;
  	margin: 6px 0;
  	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1
{
	background-color: white;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2
{
  opacity: 0;
}

/* Rotate last bar */
.change .bar3
{
	background-color: white;
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


