<link rel="stylesheet" href="css/sidebar.css"></link>
 <nav class="sb" id="sb">
	 <section class="sb-logo">
		 <div class="sb-pos-logo" id="sb-logo-png">
			 <img src="img/lsgi-logo.png"></img>
		 </div>
		 <div class="sb-burger change" id="sb-burger" onclick="sb_collapse()">
			 <div class="bar1"></div>
			 <div class="bar2"></div>
			 <div class="bar3"></div>
		 </div>
	</section>
	<div class="sb-horizontal"></div>
	<section class="sb-user">
		 <div class="sb-signup">
			<button class="sb-btn">
				<img class="sb-icon" src="img/signin.png"></img>
				<p class="btn-text">Log In</p>
			</button>
			<button class="sb-btn">
				<img class="sb-icon" src="img/signup.png"></img>
				<p class="btn-text">Sign Up</p>
			</button>
		</div>
		<div class="sb-loggedin">
			<div class="sb-user-logo" id="sb-user-logo">
				<img src="img/profile.png" class="sb-prof-img" ></img>
				 <p class="btn-text">Username <br>
					Teams</p> 
			</div>
			<div class="sb-user-settings">
				<button class="sb-btn">
					<img class="sb-icon" src="img/settings.png"></img>
					<p class="btn-text">Settings</p>
				</button>
				<button class="sb-btn">
					<img class="sb-icon" src="img/tm.png"></img>
					<p class="btn-text">Team Management</p>
				</button>
				<button class="sb-btn">
					<img class="sb-icon" src="img/signout.png"></img>
					<p class="btn-text">Sign Out</p>
				</button>
			</div>
		</div> 
	</section>
	<div class="sb-horizontal"></div>
	<section class="sb-nav">
		<a class="sb-btn" href="#content-home">
			<img class="sb-icon" src="img/home.png"></img>
			<p class="btn-text">Home</p>
		</a>
		<a class="sb-btn" href="#content-cal">
			<img  class="sb-icon" src="img/calendar.png"></img>
			<p class="btn-text">Calendar</p>
		</a>
		<a class="sb-btn" href="#content-teams">
			<img class="sb-icon" src="img/teams.png"></img>
			<p class="btn-text">Teams</p>
		</a>
		<a class="sb-btn" href="#content-contact">
			<img class="sb-icon" src="img/contact.png"></img>
			<p class="btn-text">Contact</p>
		</a>
		<a class="sb-btn" href="#content-about">
			<img class="sb-icon" src="img/about.png"></img>
			<p class="btn-text">About</p>
		</a>
	</section> 
	<div class="sb-horizontal"></div>
	<section class="sb-admin ">
		<button class="sb-btn sb-edit-cont">
			<img class="sb-icon" src="img/cog.png"></img>
			<p class="btn-text">Edit Content</p>
		</button>
		<button class="sb-btn sb-usr-adm">
			<img class="sb-icon" src="img/user-admin.png"></img>
			<p class="btn-text">User Administration</p>
		</button>
		<button class="sb-btn sb-tm-adm">
			<img class="sb-icon" src="img/team-admin.png"></img>
			<p class="btn-text">Teams Administration</p>
		</button>  
	</section>
 </nav>

